{% extends 'main.html' %}

{% block contenu %}
<br/>
<br/>
<br/>
<br/>
<div class="container">
<div class="column">
    <div class="col-md-26">
        <div class="card card-body">
<p>Vouler vous supprimer ce produit ?</p>
<form action="{% url 'supprimer_produit' produit.id %}" method="post">
    {% csrf_token %}
    <a class="btn btn-success" href="{% url 'list_produit' %}"> Annuler </a>
    <input class="btn btn-danger" type="submit", name="Confirmer">
</form>
                    </div>
    </div>
</div>
</div>

{% endblock %}